body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/* GENERAL */
.myNavBar {
    background-color: #567BA0;
}

.myNavBar .navbar-brand {
    color: #FEFEFE;
    font-size: 1.6em;
}
.navbar-inverse .navbar-nav > li > a {
    color: #FEFEFE;
}

.myNavBar .navbar-brand:hover, .navbar-inverse .navbar-nav > li > a:hover {
    color: #BEBEBE;
}

body { background-color: #EEEEEE; }

/* HOME */
body .homeContainer {
    height: 100vh;
    background-color: white;
    padding: 0px 0px;
}

body .form-container {
    padding: 0px 25px;
}

.homeContainer h2 {
    padding: 0px 15px;
    margin: 25px 10px 50px 0px;
}
.homeContainer label {
    margin: 30px 0px 0px 0px;
}
.homeContainer .form-control {
    margin: 5px 0px 20px 0px;
}
.homeContainer .home-register {
    font-size: 0.8em;
}

.homeContainer img {
    width:inherit;
    height:auto;
    margin: 35px 0px;
}

/*Paiement*/
body .paiement-container {
    height: 100vh;
    background-color: white;
    padding: 0px 15px;
}

body .paiement-container form div{
    margin: 15px 0px;
}

body .paiement-container form label{
    margin: 0px 15px;
}

/* VALIDATED*/
body .validated-container {
    height: 100vh;
    background-color: white;
}

/*RESEARCH*/
body .user-infos-section {
    padding: 15px 15px;
}

body .search-container {
    height: 100%;
    background-color: white;
    padding: 0px 0px 15px 0px;
    margin-bottom: 15px;
}
body .search-container .driver-form {
    margin: 0px 0px;
    padding: 5px 5px;
}
body .search-container .driver-list{
    padding: 0px 0px 15px 0px;
}

body .search-container h2 {
    padding: 0px 15px;
}

body .search-container .map-section {    
    padding: 15px 15px;
    height: 475px;
}

.search-container img {
    width: inherit;
    height: auto;
    margin: 35px 0px;
}

#map {
    height: 450px;
}

.funkyradio div {
    clear: both;
    overflow: hidden;
}

.funkyradio label {
    width: 100%;
    border-radius: 3px;
    border: 1px solid #D1D3D4;
    font-weight: normal;
}

.funkyradio input[type="radio"]:empty,
.funkyradio input[type="checkbox"]:empty {
    display: none;
}

    .funkyradio input[type="radio"]:empty ~ label,
    .funkyradio input[type="checkbox"]:empty ~ label {
        position: relative;
        line-height: 2.5em;
        text-indent: 3.25em;
        margin-top: 2em;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        .funkyradio input[type="radio"]:empty ~ label:before,
        .funkyradio input[type="checkbox"]:empty ~ label:before {
            position: absolute;
            display: block;
            top: 0;
            bottom: 0;
            left: 0;
            content: '';
            width: 2.5em;
            background: #D1D3D4;
            border-radius: 3px 0 0 3px;
        }

.funkyradio input[type="radio"]:hover:not(:checked) ~ label,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
    color: #888;
}

    .funkyradio input[type="radio"]:hover:not(:checked) ~ label:before,
    .funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
        content: '\2714';
        text-indent: .9em;
        color: #C2C2C2;
    }

.funkyradio input[type="radio"]:checked ~ label,
.funkyradio input[type="checkbox"]:checked ~ label {
    color: #777;
}

    .funkyradio input[type="radio"]:checked ~ label:before,
    .funkyradio input[type="checkbox"]:checked ~ label:before {
        content: '\2714';
        text-indent: .9em;
        color: #333;
        background-color: #ccc;
    }

.funkyradio input[type="radio"]:focus ~ label:before,
.funkyradio input[type="checkbox"]:focus ~ label:before {
    box-shadow: 0 0 0 3px #999;
}

.funkyradio-default input[type="radio"]:checked ~ label:before,
.funkyradio-default input[type="checkbox"]:checked ~ label:before {
    color: #333;
    background-color: #ccc;
}

.funkyradio-primary input[type="radio"]:checked ~ label:before,
.funkyradio-primary input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #337ab7;
}

.funkyradio-success input[type="radio"]:checked ~ label:before,
.funkyradio-success input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #5cb85c;
}

.funkyradio-danger input[type="radio"]:checked ~ label:before,
.funkyradio-danger input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #d9534f;
}

.funkyradio-warning input[type="radio"]:checked ~ label:before,
.funkyradio-warning input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #f0ad4e;
}

.funkyradio-info input[type="radio"]:checked ~ label:before,
.funkyradio-info input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #5bc0de;
}
