@{
    ViewBag.Title = "Search";
}

<section class="container search-container">
    <h2>Search</h2>   
    <div class="map-section">
        <div class="col-md-3">
            @using (Html.BeginForm("Search", "Search", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>Chercher un itinéraire</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="col-md-10">
                            <input id="departure" placeholder="départ" class="form-control" type="text" name="departure" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            <input id="arrival" placeholder="arrivée" class="form-control" type="text" name="arrival" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10">
                            <input id="search" type="submit" value="Search" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }
        </div>
        <div id="map" class="col-md-9">

        </div>
    </div>
    <img src="~/Content/Images/search.jpg" />
</section>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDjKjiTE-YwsyVbG2KY4VVJF5w3F7XWt8&libraries=places&callback=initAutocomplete"
        async defer></script>
<script src="~/Scripts/placesAutocompletion.js"></script>

