
@{
    ViewBag.Title = "Mot de passe oublié";
}

<!DOCTYPE html>

<html lang="fr">

    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width" initial-scale=1, shrink-to-fit="no"/>

        <title>Mot de passe oublié</title>

    </head>

    <body>

        <div class="container">
            <h2>Redéfinition du mot passe</h2>

            <p>Un lien de redéfinition de votre mot de passe vous sera envoyé à votre adresse e-mail.</p>

            Adresse e-mail : <input type="text" name="mailrecup" />

            @Html.ActionLink("Envoyer", "", "Home", new { area = "" }, new { @class = "btn btn-primary" })<br /><br />
            @Html.ActionLink("Retourner vers l'Accueil", "Index", "Home", new { area = "" }, new { @class = "btn btn-info" })

        </div>


    </body>

</html>

