@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html lang="fr">

    <head>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width" initial-scale=1, shrink-to-fit="no" />

        <title>Accueil</title>

    </head>

    <body>

        <div class="container">

        @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
             @Html.AntiForgeryToken()

             <div class="row">
                <div class="col">Email : </div>
                <div class="col"><input type="text" name="email" value="Votre adresse email"/></div>
             </div>

             <div class="row">
                <div class="col">Mot de passe : </div>
                <div class="col"><input type="password" name="pass"/></div>
             </div>

             <div class="row">
                <input type="submit" class="btn btn-primary" value="Se connecter sur Compte Client" />
                 @Html.ActionLink("Créer Compte Client", "Register", "Home", new { area = "" }, new { @class = "btn btn-primary" })
             </div>
         }

            <br/> <br/>

         @using (Html.BeginForm("LoginPrest", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
         {
            @Html.AntiForgeryToken()

            <div class="row">
                <div class="col">Email : </div>
                <div class="col"><input type="text" name="prestemail" value="Votre adresse email" /></div>
            </div>

            <div class="row">
                <div class="col">Mot de passe : </div>
                <div class="col"><input type="password" name="prestpass" /></div>
            </div>

            <div class="row">
                <input type="submit" class="btn btn-primary" value="Se connecter sur Compte Prestataire" />
                @Html.ActionLink("Créer Compte Prestataire", "RegisterPrest", "Home", new { area = "" }, new { @class = "btn btn-primary" })
            </div>
         }


        </div>

    </body>

</html>